#trapezoid {
  position: fixed;
  bottom: 0px;
  right: 40px;
  border-bottom: 30px solid rgba(204, 204, 0, 1);
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 100px;
  z-index: 1;
  display: flex;
  justify-content: center;
  transition: 0.5s;
}
#trapezoid :hover {
  transform: scale(1.2);
  color: #ff00ff;
}
#trapezoid a {
  transition: 0.2s;
}
.player {
  position: fixed;
  bottom: -70px;
  width: 100%;
  height: 70px;
  z-index: 1;
  padding: 0.5vw 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(
    rgba(204, 204, 0, 1) 0%,
    rgba(255, 255, 0, 1) 100%
  );
  color: black;
  border-bottom-style: solid;
  border-color: #999966;
  transition: 0.5s;
  border: none;
}
.player .left,
.player .center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.player i {
  margin: 1vw;
  font-size: 40px;
  cursor: pointer;
}
#volume {
  font-size: 30px;
}
.volume_control {
  display: flex;
  justify-content: center;
  align-items: center;
}
.volume_content {
  display: none;
  position: absolute;
  bottom: 140px;
  background-color: rgba(204, 204, 0, 1);
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 200px;
  -webkit-transform: rotate(-90deg);
}
.volume_control:hover .volume_content {
  display: flex;
  justify-content: center;
  align-items: center;
}
#vol_slider {
  margin: 15px;
}
#vol_output {
  width: 20px;
}
/* The slider itself */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #666666;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(255, 255, 100);
  border-style: solid;
  border-width: 2px;
  border-color: black;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: rgb(255, 255, 100);
  cursor: pointer; /* Cursor on hover */
}
#time_slider {
  width: 30vw;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}
.player .right .titulo {
  font-weight: bold;
  font-size: 17px;
}
.player .right .artista,
.player .right .genero {
  font-size: 12px;
}
@media (max-width: 500px) {
  .volume_content {
    bottom: 120px;
  }
  #time_slider {
    width: 20vw;
  }
  .player i {
    font-size: 25px;
  }
  #volume {
    font-size: 20px;
  }
  #vol_output,
  #current_time,
  #total_time {
    font-size: 9px;
  }
  .player .right .titulo {
    font-weight: bold;
    font-size: 14px;
  }
  .player .right .artista,
  .player .right .genero {
    font-size: 9px;
  }
}
