@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #fdfdca;
}
/*------------------------------------NAVBAR--------------------------------------*/
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.5vw 2vw;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(
    rgba(255, 255, 0, 1) 0%,
    rgba(204, 204, 0, 1) 100%
  );
  color: black;
  border-bottom-style: solid;
  border-color: #999966;
}
.navbar .left,
.navbar .center {
  display: flex;
  align-items: center;
}
.navbar .center {
  transform: translate(-8vw);
}
#searchBt {
  margin-right: 1vw;
}
.navbar i {
  transition: 0.2s;
}
#searchTextBox {
  background-color: rgba(255, 255, 255, 0.5);
  width: 20vw;
  height: 2rem;
}
.navbar .left {
  color: rgb(0, 13, 189);
}
.brand-title {
  font-size: 1.5rem;
  margin-left: 2vw;
  font-family: "Audiowide", cursive;
}
#leftMenuBtn {
  color: black;
  font-size: 2.5rem;
  margin-right: 1vw;
  transition: 0.2s;
}
#leftMenuBtn:hover {
  transform: scale(1.1);
  color: #ff00ff;
}
.navbar a{
  text-decoration: none;
  color:#000000;
}
.navbar a:hover{
  cursor: pointer;
}
.navbar a :hover {
  transform: scale(1.3);
  color: #ff00ff;
}
#logout-button{
  margin-left: 1vw;
}
/*------------------------------------SIDEBAR--------------------------------------*/
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 15%; /* 0 width - change this with JavaScript */
  left: -15%;
  position: fixed; /* Stay in place */
  z-index: 2; /* Stay on top */
  top: 0;
  background-image: linear-gradient(#cccc00 0%, #cccc00 50%, #636300 100%);
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}
.sidebar .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  padding: 1vw 1vw 1vw 2vw;
  transition: 0.3s;
  text-decoration: none;
  color: #000000;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}
.sidebar .rowClose {
  display: inline-block;
  width: 100%;
}
.sidebar #closeSidebar {
  color: #000000;
  transition: 0.3s;
  padding: 10px;
  float: right;
}
.sidebar #closeSidebar:hover {
  transform: scale(1.4);
  color: #cc00cc;
}
.sidebar .menuItem {
  padding-left: 1vw;
  font-size: 1.2rem;
  display: block;
}
.sidebar .row:hover {
  background-color: #dfdf00;
  color: #cc00cc;
}
.sidebar hr.separator {
  border: none;
  border-top: 2px dotted #999900;
  border-radius: 5px;
}
@media (max-width: 500px) {
  .navbar .center {
    transform: translate(0px);
  }
  #searchTextBox {
    background-color: rgba(255, 255, 255, 0.5);
    width: 30vw;
    height: 2rem;
  }
  .brand-title,
  #brand-icon {
    font-size: 1rem;
  }
  .sidebar {
    width: 40%;
    left: -40%;
  }
  .sidebar .menuItem {
    font-size: 0.8rem;
  }
}
