@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fdfdca;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.5vw 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(
    rgba(255, 255, 0, 1) 0%,
    rgba(204, 204, 0, 1) 100%
  );
  color: black;
  border-bottom-style: solid;
  border-color: #999966;
}
.navbar .left,
.navbar .center {
  display: flex;
  align-items: center;
}
.navbar .center {
  transform: translate(-8vw);
}
#searchBt {
  margin-right: 1vw;
}
#searchTextBox {
  background-color: rgba(255, 255, 255, 0.5);
  width: 20vw;
  height: 2rem;
}
.navbar .left {
  color: rgb(0, 13, 189);
}
.brand-title {
  font-size: 1.5rem;
  margin-left: 2vw;
  font-family: "Audiowide", cursive;
}
#leftMenuBtn {
  color: black;
  font-size: 2.5rem;
  margin-right: 1vw;
}
.navbar a {
  transition: transform 0.2s;
}
#leftMenuBtn:hover {
  transform: scale(1.1);
  color: #ff00ff;
}
.navbar a:hover {
  transform: scale(1.3);
  color: #ff00ff;
}
.sidebar a:hover {
  transform: scale(1.3);
  color: #cc00cc;
}
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 15%; /* 0 width - change this with JavaScript */
  left: -15%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  background-image: linear-gradient(#cccc00 0%, #cccc00 50%, #636300 100%);
  /*background-color: #cccc00;*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}
/* The sidebar links */
.sidebar a {
  padding: 1vw 1vw 1vw 2vw;
  text-decoration: none;
  font-size: 1.2rem;
  color: #000000;
  display: block;
  transition: 0.3s;
}
#closeSidebar {
  float: right;
}
.sidebar .rowClose {
  display: block;
  width: 100%;
  margin-bottom: 3vw;
}
@media (max-width: 500px) {
  .brand-title,
  #brand-icon {
    font-size: 0.75rem;
  }
  .sidebar a {
    font-size: 0.5rem;
  }
}
